BZZORIO_API_KEY="<API_KEY>"
BZZORIO_BASE_URL=https://sports.bzzoiro.com/
DB_URL="postgresql+asyncpg://<username>:<password>@<host>:<port>/<database>"
REDIS_URL="redis://<username>:<password>@<host>:<port>/<database