BZZORIO_API_KEY="<API_KEY>"
BZZORIO_BASE_URL=https://sports.bzzoiro.com/api/v2/
POSTGRES_USER="<DB_USERNAME>"
POSTGRES_PASS="<DB_PASSWORD>"
POSTGRES_DB="<DB_NAME>"
DB_URL="postgresql+asyncpg://<username>:<password>@<host>:<port>/<database>"
REDIS_URL="redis://<username>:<password>@<host>:<port>/<database>"